@import "abstracts/variables";

@import "base/base";
@import "base/fonts";
@import "base/typography";

@import "layout/grid";
@import "layout/layout";

@import "components/header";
@import "components/home";
@import "components/category";
@import "components/about";
@import "components/trick";
@import "components/discount";
@import "components/new";
@import "components/newsletter";
@import "components/footer";
@import "components/scroll";
@import "components/breakpoints";