/*===== HEADER =====*/
.header {
  background : $body-color;
  left       : 0;
  position   : fixed;
  top        : 0;
  width      : 100%;
  z-index    : 1;
}

/*===== NAV =====*/
.nav {
  align-items     : center;
  display         : flex;
  height          : $header-height;
  justify-content : space-between;
  
  &__logo {
	align-items : center;
	column-gap  : 1rem;
	display     : flex;
	font-weight : $font-medium;
	
	&-img {
	  width : 2rem;
	}
  }
  
  &__link,
  &__logo,
  &__toggle,
  &__close, {
	color : $title-color;
  }
  
  &__toggle {
	cursor    : pointer;
	font-size : 1.25rem;
  }
  
  &__menu {
	@media screen and (max-width : 768px) {
	  background    : $container-color;
	  border-radius : 0 0 2.4rem 2.4rem;
	  left          : 0;
	  padding       : 5.6rem 0;
	  position      : fixed;
	  top           : -150%;
	  transition    : .4s;
	  width         : 100%;
	  z-index       : 1;
	}
  }
  
  &__img {
	left     : 0;
	position : absolute;
	top      : 0;
	width    : 10rem;
  }
  
  &__close {
	cursor    : pointer;
	font-size : 2.8rem;
	position  : absolute;
	right     : 2.4rem;
	top       : .8rem;
  }
  
  &__list {
	align-items    : center;
	display        : flex;
	flex-direction : column;
	row-gap        : 2.4rem;
  }
  
  &__link {
	font-weight    : $font-black;
	text-transform : uppercase;
	transition     : .4s;
	
	&:hover {
	  color : $text-color;
	}
  }
}

/* Show Menu */
.show-menu {
  top : 0;
}