* {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

html {
  scroll-behavior : smooth;
}

body {
  background  : $body-color;
  color       : $text-color;
  font-family : $body-font;
  font-size   : $normal-font-size;
  margin      : $header-height 0 0 0;
}

h1, h2, h3, h4 {
  color       : $title-color;
  font-weight : $font-semi-bold;
}

ul {
  list-style : none;
}

a {
  text-decoration : none;
}

img {
  height    : auto;
  max-width : 100%;
}

button,
input {
  border  : none;
  outline : none;
}

button {
  cursor      : pointer;
  font-family : $body-font;
  font-size   : $normal-font-size;
}