$header-height     : 5.6rem;

/*===== COLORS =====*/
$hue               : 14;
$first-color       : hsl($hue, 91%, 54%);
$first-color-alt   : hsl($hue, 91%, 50%);
$title-color       : hsl($hue, 4%, 100%);
$text-color        : hsl($hue, 4%, 85%);
$text-color-light  : hsl($hue, 4%, 55%);
$body-color        : linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
$container-color   : linear-gradient(136deg, hsl(104, 28%, 35%) 0%, hsl(58, 28%, 35%) 100%);

/*===== FONTS & TYPOGRAPHY =====*/
$body-font         : "Poppins", sans-serif;
$biggest-font-size : 3.2rem;
$h1-font-size      : 2.4rem;
$h2-font-size      : 2rem;
$h3-font-size      : 1.6rem;
$normal-font-size  : 1.5rem;
$small-font-size   : 1.4rem;
$smaller-font-size : 1.2rem;

/*===== RESPONSIVE TYPOGRAPHY =====*/
@media screen and (min-width : 992px) {
  $biggest-font-size : 6.4rem;
  $h1-font-size      : 3.6rem;
  $h2-font-size      : 2.4rem;
  $h3-font-size      : 2rem;
  $normal-font-size  : 1.6rem;
  $small-font-size   : 1.4rem;
  $smaller-font-size : 1.3rem;
}

/*===== FONT WEIGHT =====*/
$font-medium       : 500;
$font-semi-bold    : 600;
$font-black        : 900;

/*===== BOTTOM MARGINS =====*/
$mb-0-25           : .4rem;
$mb-0-5            : .8rem;
$mb-0-75           : 1.2rem;
$mb-1              : 1.6rem;
$mb-1-5            : 3.8rem;
$mb-2              : 3.2rem;
$mb-2-5            : 4rem;

/*===== Z-INDEX =====*/
$z-tooltip         : 10;
$z-fixed           : 100;
